version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:10
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: gradle dependencies
      - run:
          name: Test
          command: ./gradlew test
      - store_artifacts:
          path: build/reports
          destination: reports
      - store_test_results:
          path: build/test-results
